/* -- universal style -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #001931;
    font-family: Inter;
    font-size: 16px;
    text-transform: capitalize;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}
/* -- universal style end -- */


/* -- header area style -- */
header {
    background-color: #fff;
    padding: 24px 0;
    box-shadow: 2px 4px 24px rgba(0, 25, 49, 0.3);
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-logo img {
    width: 86px;
    height: auto;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    gap: 36px;
}

.nav-menu ul li a {
    color: #001931;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}

.nav-menu ul li a:hover {
    color: #30B868;
}

.nav-btn button {
    background-color: #30B868;
    color: #fff;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    padding: 12px 16px;
    border: 1px solid #30B868;
    border-radius: 4px;
    box-shadow: 2px 4px 26px rgba(0, 25, 49, 0.1);
    transition: 0.4s;
    cursor: pointer;
}

.nav-btn button:hover {
    background-color: #001931;
    border: 1px solid #001931;
}
/* -- header area style end -- */


/* -- hero area -- */
.hero-area {
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 176px 0;
}


.hero-content {
    width: 74%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content h6 {
    color: #30B868;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 49px;
    display: inline-block;
    box-shadow: 2px 4px 26px rgba(0, 25, 49, 0.6);
}

.hero-content .fa-circle {
    color: #30B868;
    display: inline-block;
    margin-right: 2px;
}

.hero-content h1 {
    color: #fff;
    font-family: Inter;
    font-style: Bold;
    font-size: 80px;
    font-weight: 700;
    line-height: 86px;
    text-align: center;
    text-transform: capitalize;
    margin: 22px 0 19px;
}

.hero-content p {
    color: #fff;
    font-family: Inter;
    font-style: Regular;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin: 0px 26px 39px;
}

.hero-btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-btn a {
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    padding: 17px;
    border-radius: 4px;
    box-shadow: 2px 4px 26px rgba(0, 25, 49, 0.1);
    transition: 0.4s;
    cursor: pointer;
}

.hero-btn a:first-child {
    background-color: #30B868;
    border: 1px solid #30B868;
}

.hero-btn a:first-child:hover {
    background-color: #001931;
    border: 1px solid #001931;
}

.hero-btn a:last-child {
    background-color: transparent;
    border: 1px solid #30B868;
}

.hero-btn a:last-child:hover {
    background-color: #30B868;
    border: 1px solid #30B868;
}
















/* -- hero area end -- */